<section id="features">
    <div class="container-fluid">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>Mes abonnements</h1>
            <div class="divider"></div>
        </div>
        {{#if old}}
        <ul class="item-list striped">
            <!-- Fin header list -->
            <!-- Début liste dynamique -->
            {{#each old}}
            <div class="row scrollpoint sp-effect1">
                <div class="col-xs-12 media active feature">
                    <a class="pull-left" href="/subscription/detail/{{id}}">
                        <image src="{{image}}" style="border-radius:50px;" height="100px" width="100px"
                               class="hover-picture"></image>
                    </a>
                    <a class="media-body" href="/subscription/detail/{{id}}">
                        <h3 class="media-heading">{{titre}}</h3>
                        <span>Fin abonnement : <b>{{date_fin}}</b></span><br>
                        <span>Il y a <b>{{nb_an}}</b> parutions dans l'année <br>pour un prix de <b>{{prix_an}}</b> euros.</span><br>
                    </a>
                </div>
                <div class="col-xs-12 buttons">
                    <a href="/subscription/renew/{{id}}" class="col-xs-5 btn pulse">Réabonner</a>
                    <a href="/subscription/stop/{{publication_id}}" class="col-xs-5 btn pulse">Arrêter</a>
                </div>
            </div>
            <br>
            {{/each}}
            <!-- Fin liste dynamique -->
        </ul>
        {{/if}}
        {{#if pause}}
        <ul class="item-list striped">
            <!-- Fin header list -->
            <!-- Début liste dynamique -->
            {{#each pause}}
            <div class="row scrollpoint sp-effect1">
                <div class="col-xs-12 media active feature">
                    <a class="pull-left" href="/subscription/detail/{{id}}">
                        <image src="{{image}}" style="border-radius:50px;" height="100px" width="100px"
                               class="hover-picture"></image>
                    </a>
                    <a class="media-body" href="/subscription/detail/{{id}}">
                        <h3 class="media-heading">{{titre}}</h3>
                        <span>Fin abonnement : <b>{{date_fin}}</b></span><br>
                        <span>Il y a <b>{{nb_an}}</b> parutions dans l'année <br>pour un prix de <b>{{prix_an}}</b> euros.</span><br>
                    </a>
                </div>
                <div class="col-xs-12 buttons">
                    <a href="/subscription/renew/{{id}}" class="col-xs-5 btn pulse">Réabonner</a>
                    <a href="/subscription/stop/{{publication_id}}" class="col-xs-5 btn pulse">Arrêter</a>
                </div>
            </div>
            <br>
            {{/each}}
            <!-- Fin liste dynamique -->
        </ul>
        {{/if}}
        {{#if stop}}
        <ul class="item-list striped">
            <!-- Fin header list -->
            <!-- Début liste dynamique -->
            {{#each stop}}
            <div class="row scrollpoint sp-effect1">
                <div class="col-xs-12 media active feature">
                    <a class="pull-left" href="/subscription/detail/{{id}}">
                        <image src="{{image}}" style="border-radius:50px;" height="100px" width="100px"
                               class="hover-picture"></image>
                    </a>
                    <a class="media-body" href="/subscription/detail/{{id}}">
                        <h3 class="media-heading">{{titre}}</h3>
                        <span>Fin abonnement : <b>{{date_fin}}</b></span><br>
                        <span>Il y a <b>{{nb_an}}</b> parutions dans l'année <br>pour un prix de <b>{{prix_an}}</b> euros.</span><br>
                    </a>
                </div>
                <div class="col-xs-12 buttons">
                    <a href="/subscription/renew/{{id}}" class="col-xs-5 btn pulse">Réabonner</a>
                    <a href="/subscription/stop/{{publication_id}}" class="col-xs-5 btn pulse">Arrêter</a>
                </div>
            </div>
            <br>
            {{/each}}
            <!-- Fin liste dynamique -->
        </ul>
        {{/if}}
    </div>
</section>