<section id="getApp">
    <div class="container-fluid">
        <div class="section-heading inverse scrollpoint sp-effect3">
            <h1>Merci !</h1>
            <div class="divider"></div>
            <p>Vous-êtes maintenant abonné à un nouveau magazine</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="platforms"><br><br>
                    <a href="/publications" class="btn btn-primary inverse scrollpoint sp-effect1">
                        <i class="fa fa-reply fa-2x pull-left"></i>
                        <span>Retour à la liste des</span><br>
                        <b>magazines</b>

                    </a>

                    <a href="/subscription" class="btn btn-primary inverse scrollpoint sp-effect2">
                        <i class="fa fa-list fa-2x pull-left"></i>
                        <span>Voir ma liste des</span><br>
                        <b>abonnements</b>
                    </a>


                    <a href="/paiements" class="btn btn-primary inverse scrollpoint sp-effect2">
                        <i class="fa fa-eur fa-2x pull-left"></i>
                        <span>Voir ma liste des</span><br>
                        <b>paiements</b>
                    </a>
                </div>

            </div>
        </div>



    </div>
</section>