<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Créer votre compte</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form class="form-signin" data-toggle="validator" role="form" method="post" action="/createuser">

                    <!--<ul class="nav nav-tabs">-->
                    <!--<li role="presentation"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Votre-->
                    <!--compte</a></li>-->
                    <!--<li role="presentation"><a href="#profil" aria-controls="profil" role="tab" data-toggle="tab">Informations-->
                    <!--sur vous</a></li>-->
                    <!--</ul>-->

                    <!--<div class="tab-content">-->
                    <!--<div class="tab-pane" id="account" role="tabpanel">-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email"
                                           placeholder="Email - Votre identifiant de connexion" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password1" id="password"
                                           placeholder="Mot de passe" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password2"
                                           data-match="#password"
                                           data-match-error="Les mots de passe ne sont pas identiques"
                                           placeholder="Mot de passe" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="clearfix"></div>-->
                        <!--<div class="col-lg-12 text-center">-->
                            <!--<button onclick="account=false" class="btn btn-xl">Suivant</button>-->
                        <!--</div>-->
                        <!--</div>-->


                        <!--<div class="tab-pane" id="profil" role="tabpanel">-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="prenom"
                                           placeholder="Prenom" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">

                                <div class="form-group">
                                    <input type="text" class="form-control" name="nom"
                                           placeholder="Nom" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="date" class="form-control" name="date_naissance"
                                           placeholder="Date de naissance" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="lieu_naissance"
                                           placeholder="Lieu de naissance" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="adresse"
                                           placeholder="Adresse" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="code_postal"
                                           placeholder="Code postal" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="telephone"
                                           placeholder="Téléphone" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <!--<a href="/register/profil" class="btn btn-xl">Précédent</a>-->
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Valider</button>
                        </div>
                        <!--</div>-->
                        <!--</div>-->
                </form>

            </div>
        </div>
    </div>
</section>