<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Créer votre compte</h2>
            </div>
        </div>
        <div class="row">
            <span class="col-xs-1" style="margin-right: -8px;"></span>
            <div class="col-xs-5">
                <button type="button" id="btnId" class="btn btn-primary btn-lg btn-block active">Identification</button>
            </div>
            <div class="col-xs-5">
                <button type="button" id="btnPro" class="btn btn-primary btn-lg btn-block">Profil</button>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-lg-12">
                <form id="formAccount" class="form-signin" role="form" novalidate="novalidate">
                    <div id="account">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="email" type="email" class="form-control" name="email"
                                           placeholder="Email - Votre identifiant de connexion" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="password" type="password" class="form-control" name="password1"
                                           placeholder="Mot de passe" minlength="6" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="confirm_password" type="password" class="form-control" name="password2"
                                           data-match="#password" data-match-error="Les mots de passe ne sont pas identiques"
                                           placeholder="Mot de passe" minlength="6" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="formRegister" class="form-signin" role="form" method="post" action="/createuser" novalidate="novalidate">
                    <input type="hidden" id="accountEmail" name="email">
                    <input type="hidden" id="accountPassword" name="password1">
                    <input type="hidden" id="accountConfirmPassword" name="password2">
                    <div id="profil" style="display: none;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    {{#each status}}
                                        <input type="radio" name="sexe_id" value="{{id}}">{{libelle}}
                                    {{/each}}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="prenom" type="text" class="form-control" name="prenom"
                                           placeholder="Prenom" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="nom" type="text" class="form-control" name="nom"
                                           placeholder="Nom" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="date_naissance" type="date" class="form-control" name="date_naissance"
                                           placeholder="Date de naissance" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="lieu_naissance" type="text" class="form-control" name="lieu_naissance"
                                           placeholder="Lieu de naissance" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="adresse" type="text" class="form-control" name="adresse"
                                           placeholder="Adresse" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="code_postal" type="number" class="form-control" name="code_postal"
                                           placeholder="Code postal" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="telephone" type="number" class="form-control" name="telephone"
                                           placeholder="Téléphone" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div id="btnId2" class="col-lg-12 text-center">
                    <button id="suivant" class="btn btn-xl">Suivant</button>
                </div>

                <div class="clearfix"></div>
                <div id="btnPro2" class="col-lg-12 text-center" style="display: none;">
                    <button id="precedent" class="btn btn-xl">Précédent</button>
                    <button id="submit" type="submit" class="btn btn-primary btn-xl">Valider</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/register.js"></script>