<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenue {{user.identifiant.login}}!</div>
            <div class="intro-heading">Bonne navigation</div>
            <a href="#about" class="page-scroll btn btn-xl">Information générale</a>
        </div>
    </div>
</header>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Information</h2>
                <h3 class="section-subheading text-muted">Information sur l'API.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Connexion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">La connexion se fait avec un compte créé depuis le site</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Routage</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Vous pouvez voir les défis des utilisateurs , commenter , les résoudres</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Espace personnalisé</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">L'API permet un accès facile à tous vos posts et toutes vos réponses à des posts et à votre compte</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Recherche et modification</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Accès facilité aux posts pour lesquels vous avez participé afin de voir les dernières réponses<br></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Suivi des défis</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Vous pouvez ajouter des défis à une liste de favoris , afin d'y accéder facilement</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Et plus encore<br> ...</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>