<section id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Votre compte</h2>
            </div>
        </div>
        {{#with users}}
        <div class="row">
            <div class="col-lg-12">
                <form id="formRegister" class="form-signin" role="form" method="post" action="/edituser/{{id}}">
                    <div id="profil">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="prenom" type="text" class="form-control" name="prenom" value="{{prenom}}"
                                           placeholder="Prenom" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="nom" type="text" class="form-control" name="nom" value="{{nom}}"
                                           placeholder="Nom" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="date_naissance" type="date" class="form-control" name="date_naissance"  value="{{date_naissance}}"
                                           placeholder="Date de naissance" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="lieu_naissance" type="text" class="form-control" name="lieu_naissance" value="{{lieu_naissance}}"
                                           placeholder="Lieu de naissance" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="adresse" type="text" class="form-control" name="adresse" value="{{adresse}}"
                                           placeholder="Adresse" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="code_postal" type="number" class="form-control" name="code_postal" value="{{code_postal}}"
                                           placeholder="Code postal" required>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input id="telephone" type="number" class="form-control" name="telephone" value="{{telephone}}"
                                           placeholder="Téléphone" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="btnPro2" class="col-lg-12 text-center">
                        <button id="submit" type="submit" class="btn btn-xl up">Valider</button>
                    </div>
                </form>


            </div>
        </div>
        {{/with}}
    </div>
</section>

