<section id="getApp">
    <div class="container-fluid">
        <div class="section-heading inverse scrollpoint sp-effect3">
            <h1>Bienvenue !</h1>
            <div class="divider"></div>
            <p>Vous-êtes maintenant membre confirmé</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="platforms"><br><br>

                    <a href="/login" class="btn btn-primary inverse scrollpoint sp-effect2">
                        <i class="fa fa-id-card-o fa-2x pull-left"></i>
                        <span>Aller à la page de</span><br>
                        <b>connexion</b>
                    </a>
                    <a href="/publications" class="btn btn-primary inverse scrollpoint sp-effect1">
                        <i class="fa fa-indent fa-2x pull-left"></i>
                        <span>Aller à la liste des</span><br>
                        <b>magazines</b>

                    </a>

                </div>

            </div>
        </div>



    </div>
</section>