<section id="features">
    <div class="container">
        {{#each publication}}
        <div class="row section-return scrollpoint sp-effect1">
            <a href="/publications" class="href-return">Retour à la liste des publications</a>
        </div>

        <div class="row section-heading section-heading-nomarge scrollpoint sp-effect3">
            <h1>{{titre}}</h1>
            <div class="divider"></div>
            <p>{{nb_an}} parutions par année</p>
            <small>Pour un prix annuel de {{prix_an}} euros</small>
        </div>
        <div class="row">

            <div class="col-md-12">
                <img src="{{image}}" class="img-responsive scrollpoint sp-effect5" alt="">
            </div>
            <div class="col-md-12 scrollpoint sp-effect1">
                <div class="media media-left feature">
                    <p>{{description}}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">


                {{#if inprogress}}

                {{#if publication_id}}
                <br>
                Votre abonnement se termine le <b>{{date_fin}}</b>
                <div class="media feature">
                    <a class="pull-left" href="/subscription">
                        <i class="fa fa-reply fa-2x"></i>
                    </a>
                    <a class="media-body" href="/subscription">
                        <h3 class="media-heading">Retour</h3>
                        à la liste de mes abonnements
                    </a>
                </div>

                {{#if stop}}
                <div class="media feature">
                    <a class="pull-left" href="/subscription/renew/{{id}}">
                        <i class="fa fa-refresh fa-2x"></i>
                    </a>
                    <a class="media-body" href="/subscription/renew/{{id}}">
                        <h3 class="media-heading">Renouveller</h3>
                        l'abonnement
                    </a>
                </div>
                <div class="media feature">
                    <a class="pull-left" href="/subscription/stop/{{publication_id}}">
                        <i class="fa fa-pause fa-2x"></i>
                    </a>
                    <a class="media-body" href="/subscription/stop/{{publication_id}}">
                        <h3 class="media-heading">Arrêter</h3>
                        mon abonnement
                    </a>
                </div>

                {{else}}
                <div class="media feature">
                    <a class="pull-left" href="/subscription/stop/{{publication_id}}">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a class="media-body" href="/subscription/stop/{{publication_id}}">
                        <h3 class="media-heading">S'abonner</h3>
                        à la publication
                    </a>
                </div>

                {{/if}}


                {{else}}

                {{#if est_abonnee}}
                {{#if pause_abo}}
                <div class="media active feature">
                    <a class="pull-left" href="/subscription/new/{{id}}">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a class="media-body" href="/subscription/new/{{id}}">
                        <h3 class="media-heading">S'abonner</h3>
                        Vous allez être redirigé vers un service d'abonnement sécurisé
                    </a>
                </div>
                {{else}}

                <div class="media active feature">
                    <a class="pull-left" href="/subscription">
                        <i class="fa fa-heart fa-2x"></i>
                    </a>
                    <a class="media-body" href="/subscription">
                        <h3 class="media-heading">Vous êtes déjà abonné</h3>
                        Voir ma liste des abonnements
                    </a>
                </div>
                {{/if}}

                {{else}}
                <div class="media active feature">
                    <a class="pull-left" href="/subscription/new/{{id}}">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a class="media-body" href="/subscription/new/{{id}}">
                        <h3 class="media-heading">S'abonner</h3>
                        Vous allez être redirigé vers un service d'abonnement sécurisé
                    </a>
                </div>
                {{/if}}
                {{/if}}
                {{/if}}


                {{#if old}}
                Votre abonnement est terminé depuis le <b>{{date_fin}}</b>

                <div class="media active feature">
                    <a class="pull-left" href="/subscription/new/{{id}}">
                        <i class="fa fa-plus fa-2x"></i>
                    </a>
                    <a class="media-body" href="/subscription/new/{{id}}">
                        <h3 class="media-heading">S'abonner</h3>
                        Vous allez être redirigé vers un service d'abonnement sécurisé
                    </a>
                </div>
                {{/if}}

            </div>
        </div>
        {{/each}}
    </div>
</section>