<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Les défis lancés</h2>
                <h3 class="section-subheading text-muted">____________________________________________________</h3>
            </div>
        </div>
        {{#each defis}}
        <div class="row">
            <div class="col-lg-12 text-center">
                {{#if hidden}}
                <div class="">Visible uniquement pour les utilisateurs qui ont aimé la publication</div>
                {{/if}}
                <h3 class="section-subheading text-muted">{{date}} - {{nb}} personnes aiment ça</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="">{{entitled}}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-lg-12">
                <div class="col-lg-12 text-center">
                    <a href="/challenge/{{id}}" type="submit" class="btn btn-info">Voir le post</a>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <h3 class="section-subheading text-muted">_____________________________________________</h3>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirmation de suppression</h4>
                    </div>
                    <div class="modal-body">
                        Voulez-vous vraiment supprimer ce message ? {{challid}}-- {{date}} - {{nb}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                        <form action="/deletechallenge/{{id}}" method="post">
                            <button type="submit" class="btn btn-info">Oui</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

